body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
  z-index: 1;

}

.ryu {
	float: left;
	width: 659px;
	height: 494px;
}


.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-kool {
  background-repeat: no-repeat;
}


.ryu-ready, .ryu-still, .ryu-throwing, .ryu-kool {
  width: 659px;
  height: 494px;
}

.ryu-ready, 
.ryu-throwing, 
.ryu-kool, 
.fighter,
.warmup,
.weapon,
.pose {
  display: none;
} 


.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-kool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 161px;
  left: 609px;
}

.fighter,
.warmup,
.weapon,
.pose {
  position: absolute;
  
}


.fighter {
  top: 30px;
  left: 521px;
}


.warmup {
  top: 80px;
  right: 350px;
}


.weapon {
  top: 133px;
  right: 288px;
}

.pose {
  top: 188px;
  right: 22px;
}









